@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&family=Space+Mono&display=swap');

* {
   margin: 10px 10px;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   transition: all 0.2s ease-in;
   border: none;
   outline: none;
}

body {
  background-color: #eee;
}

.container {
  height: 100vh;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.container .counter {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container .counter p {
  text-align: center;
  font-size: 10rem;
  font-weight: 400;
  line-height: 1;
}

.container .buttons {
  text-align: center;
  margin-top: 2rem;
}

.container .buttons button {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 15px;
}

.container .buttons button#sub {
  background-color: #ee4266;
  color: #ffd23f;
} 

.container .buttons button#plus {
  background-color: #3bceac;
  color: #0ead69;
}

button:hover {
  transform: scale(1.1);
}